<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./main.css"> 
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />

</head>
<body>

  <script>
    function createPayment() {
      let recurDate = document.getElementById('recurDate').value;
      if(new Date(recurDate) < new Date() ) {
        alert('Date is in the past. Please create a recurring payment in future')
      }
      else {
        document.getElementById('newPaymentForm').submit();
      }
    }  
  </script>

    <div class="split left">
        <div id="header-wrapper">
          </div>
        
        <div id="menu">
          <ul>
            <li><a href="./home.html" title="">Home</a></li>
          </ul>
        </div>
    </div>

    <div class="split right">
           

      <div class="title"> 
        <h3> Add Payment Reminder </h3>     
      </div>

      <div id="messageBanner"> 
      <% if(error) { %>
      <font style="color:red"> <%=error%> </font>
      <% } %>
      </div>

      <div id="page-wrapper">

        <form id="newPaymentForm" action="http://<%=env.getHost()%>:<%=env.getPort()%>/addNewPayment" method="POST">
            <div> 
            
                <table class="formTable"> 
        
                <thead>
                    <TR>
                    <TD> </TD>
                    <TD> </TD>
                    </TR>
                </thead>
        
                <tbody>
                    <TR> 
                    <td> Name</td>
                    <td> <input name="name" type="text"> </td>
                    </TR>
                
                    <TR> 
                    <td> Description</td>
                    <td> <textarea name="desc" > </textarea> </td>
                    </TR>

                    <TR> 
                      <td> Date</td>
                      <td> <input id="recurDate" name="recurDate" type="text"> </td>
                      </TR>

                   
                </tbody>
        
            </table>
        
            <div class="table-footer"> 
                <input name="create" type="button" value="Create" class="greenBtn" onclick="createPayment();">
                <input name="clear" type="button" value="Clear" class="greyBtn">
            </div>
        
               
            </div>
            </form>
      </div>

    </div>
    
        


   



</body>
</html>