<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="./main.css"> 
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />

</head>
<body>

   <div class="split left">
      <div id="header-wrapper">
      </div>

      <div id="menu">
         <ul>
            <li><a href="./home.html" accesskey="3" title="">Home</a></li>
         </ul>
      </div>

   </div>

   <div class="split right">

   

     <div class="title"> 
        <h3> Delete Scenarios </h3>     
    </div>

    <div id="messageBanner">
    <% if(error) { %>
      <font color="red"> <%=error%> </font> 
      
    <% } %>
   </div>
    
    <div id="page-wrapper">

       <form action="http://<%=env.getHost()%>:<%=env.getPort()%>/deletePayment" method="POST">

         

            <table class="jdamTable" style="margin: 0em 0em 3em 3em;"> 
                <thead>  
                <TR>       
                    <th>ID </th>
                    <th> Name </th>
                    <th> Description</th>
                    <th> Status</th>
                    <th>  </th>
                    </TR>
                </thead>
        
                <tbody>
                
                <% if(payments) {
                        
                for(let i=0; i<payments.length; i++) { %>
                    <TR> 
                    <TD> <%= payments[i].id %> </TD>
                    <TD> <%= payments[i].name %> </TD>
                    <TD> <%= payments[i].description %> </TD>
                    <TD> <%= payments[i].status %> </TD>
                    <TD> <input type="checkbox" name="paymentId" value="<%= payments[i].id %>"> </TD>
                    </TR>
                <% } 
            
                }%>
                </tbody>
            </table>
        
            <div class="table-footer">
               <input type="submit" name="deleteBtn" value="Delete" class="redBtn"> 
             </div>
        
        
        </form>

        

    </div>

   </div>
 
 

</body>
</html>