<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./main.css"> 
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
</head>
<body>
  <script>
     let hostName = process.env.DYP_HOST || "localhost";
   let portNum = process.env.DYP_PORT || "8080";

    
  </script>
    <div class="split left">
        <div id="header-wrapper">
        </div>
  
        <div id="menu">
           <ul>
              <li><a href="./home.html"> Home </a></li>
             

           </ul>
        </div>
  
     </div>

     <div class="split right">

      

       <div class="title"> 
          <h3> Edit Payment </h3>     
      </div>

      <div id="messageBanner">
      <% if (error) { %>
        <font style='color: red'>  <%=error%> </font> 
       <% }%>
      </div>

      <div id="page-wrapper">

          <form action="http://<%=env.getHost()%>:<%=env.getPort()%>/editPayment" method="POST">
  
            <table class="formTable"> 
          
              <TR>
                <TD>ID </TD>
                <TD> <input type="text" name="paymentId" value="<%= currPayment.id %>" readonly> </TD>
              </TR>
              <TR>
                <TD> Name </TD>
                <TD> <input type="text" name="name" value="<%= currPayment.name %>"> </TD>
          
              </TR>
              <TR>
                
                <TD> Desc</TD>
                <TD> <textarea name="desc" > <%= currPayment.description %> </textarea> </TD>
          
              </TR>
             
              <TR>
                               
                <TD> Status</TD>
                <TD> 
                    <select name="status"> 
          
                        <% for(let status of statuses) { 
                          let label = status.split('#')[0]; 
                          let value = status.split('#')[1]; 
                          let isSelected = (status.split('#')[2] === 'true') ? 'selected' : '';
              
                          %>
                          <option value="<%=value%>" <%=isSelected%> > <%=label%> </option>
              
                          <% } %>
              
                      </select>    
                                  
                </TD>
              </TR>
          
             
          
          </table>
          
          <div>
              <input type="submit" name="save" value="Save" class="greenBtn">
              <input type="submit" name="cancel" value="Cancel" class="greyBtn">
          
          </div>
          
          </form>


      </div>

     </div>

</body>
</html>