<!DOCTYPE html>
<html>
<head>
       <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />

        <link href="main.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>

    <div class="split left">
      <div id="header-wrapper">
          <h1>DUP </h1>
      </div>

      <div id="menu">
        <ul>
          <li><a href="./home.html" accesskey="2" title="">Home</a></li>
          <li><a href="./addNewPayment.html" accesskey="3" title="">Add Payment</a></li>
          <li><a href="./deletePayment.html" accesskey="3" title="">Delete Payment</a></li>

        </ul>
      </div>

    </div>


    <div class="split right">
     
      <div id="header" class="container">
        <div id="logo">
            <div class="title">
                <h1> Did you pay ? </h2>

              <h2>Track payments even faster ! </h2>
            </div>
        </div>
      </div>
  
    <div class="title"> 
  
    </div>

    <div id="messageBanner"> 
    <% if (error) { %>
     <font style='color: red'>  <%=error%> </font> 
    <% }%>
    </div>


    <div id="page-wrapper">
        
          <div class="table-header">
            
          </div>
              
           <table class="jdamTable"> 
              <thead> 
                <TR>
                  <TH> </TH>
                  <TH>ID </TH>
                  <TH> Payment </TH>
                  <TH> Payment Description</TH>
                  <TH> Date </TH>
                  <TH> Status </TH>
                  <TH> Last Paid </TH>

                  <TH> </TH>
                  </TR>
              </thead>
                     
              <tbody> 
                    
                <% if(payments) {             
                 for(let p of payments ) {
                   
                  let friendlyRecurDate = new Date(p.recurDate).toDateString();
                  let friendlyLPDate = new Date(p.lastPaid).toDateString();

                   %>
                    <TR> 

                      <TD>
                          <form action="http://<%=env.getHost()%>:<%=env.getPort()%>/editPayment" method="GET">

                          <input class="blueBtn" type="submit" name="editPayment" value="Edit">

                        <input type="hidden" name="paymentId" value="<%= p.id %>" > 

                        </form>

                      </TD>
                      <TD> <%= p.id %> </TD>
                      <TD> <%= p.name %> </TD>
                      <TD> <%= p.description %> </TD>
                      <TD> <%=friendlyRecurDate%> </TD>
                      <TD> 
                              
                      <% 
                         let diffDays = (new Date(p.recurDate) - new Date(p.lastPaid)) / ( 1000 * 60 * 60 * 24);
                         console.log('Diff days ', diffDays); 
                         let status = 'PENDING';

                         if(p.isNew !== 1) {
                          if(diffDays > 14 && diffDays < 30) {
                            status = 'PENDING';
                          }
                          else if (diffDays < 14 || diffDays >= 30) {
                            status = 'PAID';
                          }
 
                          let overdue = ( new Date() - new Date(p.lastPaid) ) / (1000 * 60 * 60 * 24);
                          console.log('Overdue is ', overdue )
                          
                          if( overdue  > 30 ) {
                            status = 'OVERDUE';
                          }

                         }
                         
                                

                         let fontColor = 'color:orange';
                         if(status === 'PAID') { fontColor = 'color:green' }
                         if(status === 'OVERDUE') { fontColor = 'color:red'} 

                       %>
              
                         <b> <font style=<%=fontColor%>> <%= status %>  </font> </b>
                              
                          
                      </TD>
                      <TD> <%=friendlyLPDate%> </TD>

                      <TD>


                          <form action="http://<%=env.getHost()%>:<%=env.getPort()%>/updatePayment" method="POST">

                             <input type="hidden" name="id" value="<%=p.id%>">

                             <% if(status === 'PENDING')  {%>
                             <input class="greenBtn" type="submit" name="paid"  value="Mark As Paid">

                             <% } else { %> 

                              <input class="greyBtn" type="submit" name="pending"  value="Mark As Pending">

                              <% } %>
                          </form>

                        </TD>
                      </TR>
                    <% } 
                  
                    }%>
              
                    </tbody>
              
                  </table>
              
                <% if(payments && payments.length > 0) { %>
                  <div class="table-footer">
                  </div>
              
                  <% } else {%>
              
                    <div style="margin-left: 3em; margin-top:3em;"> There are no payments available. Start by creating a new one, using Create Payment link from the left. </div>
                  <% } %>
              
              </form>

    </div>

    </div>


   

    

  
  
  


</body>
</html>