html, body
{
  height: 80%;
}

body
{
  margin: 0px;
  padding: 0px;
  background: #334467;
  font-family: 'Questrial', sans-serif;
  font-size: 12pt;
  color: black;
}


p, ol, ul
{
  margin-top: 0;
}

ol, ul
{
  padding: 0;
  list-style: none;
}

p
{
  line-height: 180%;
}



a
{
  color: #16A085;
}

a:hover
{
  text-decoration: none;
}


.container
{
  margin: 0px auto;
  width: 1200px;
}



/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title
{
  margin-bottom: 1em;
  text-align: center;
  
}

.title h1
{
  font-size: 3.5em;
  color: #302e2e;
}

.title h2
{
  font-size: 2.5em;
  color: #302e2e;
}

.title h3
{
  font-size: 1.8em;
  color: #302e2e;
  text-align: center;
  margin-top: 1em;
}
.title .byline
{
  font-size: 1.1em;
  color: rgba(255,255,255,.5);
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper
{
  height: 20% ;
}

#header
{
  text-align: center;
}


#header-wrapper h1
{
  color: white;
  margin: 1em 1em 1em 1em;
  font-size: 3em;
  font-family: 'Pacifico', cursive;
}



#messageBanner {
  padding: 3em 0em 3em 3em;
}

#menu ul
{
  display: inline-block;
  padding: 0em 2em;
  text-align: center;
}

#menu a
{
  color: white
}


#menu ul li
{
  padding: 20px;
}



.table-header
{
  padding: 0em 0em 3em 3em;
}

select
{
  font-size: 15px
}


.table-footer
{
  padding: 3em 0em 0em 3em;
}



/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

#welcome
{
  overflow: hidden;
  width: 1200px;
  padding: 2em 0px 0em 0px;
  text-align: center;
}

#welcome .content
{
  padding: 0em 8em;
}

  #welcome .image
  {
    display: block;
    padding-top: 3em;
    border: none;
  }

#welcome .title h2
{
  color: #302e2e;
}

#welcome a,
#welcome strong
{
  color: #C6C2C4;
}





table.jdamTable {
margin-left: 3em;
  border: 3px solid #000000;
  width: 70%;
  text-align: left;
}
table.jdamTable td, table.jdamTable th {
  border: 1px solid #000000;
  padding: 5px 4px;
}
table.jdamTable tbody td {
  font-size: 15px;
color: black;
}
table.jdamTable thead {
  background: #0F0F0F;
  background: -moz-linear-gradient(top, #4b4b4b 0%, #272727 66%, #0F0F0F 100%);
  background: -webkit-linear-gradient(top, #4b4b4b 0%, #272727 66%, #0F0F0F 100%);
  background: linear-gradient(to bottom, #4b4b4b 0%, #272727 66%, #0F0F0F 100%);
}
table.jdamTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FAF7F3;
  text-align: left;
}
table.jdamTable tfoot td {
  font-size: 14px;
}

table.formTable {
  margin: 2em 0em 0em 2em;
}

table.formTable td {
  padding-bottom: 2em;
}

#Edit{
text-align: center;  
margin-top: 1.5em;
}

/* SPLIT CODE*/
.split {
height: 100%;

position: fixed;
z-index: 1;
top: 0;
overflow-x: hidden;
padding-top: 20px;
}

/* Control the left side */
.left {
left: 0;
width: 20%;
background: #fba019;
}

/* Control the right side */
.right {
right: 0;
 width: 80%;
  background:WHITE;
}

/**

Buttons 
*/

.blueBtn {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
background-color:#63b8ee;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border:1px solid #3866a3;
display:inline-block;
cursor:pointer;
color: white;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:6px 24px;
text-decoration:none;
}

.greenBtn {

background-color:#1db321;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border:1px solid green;
display:inline-block;
cursor:pointer;
color: white;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:6px 24px;
text-decoration:none;
}

.redBtn {

  background-color: #e40606;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid red;
  display:inline-block;
  cursor:pointer;
  color: white;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  }

.greyBtn {

  background-color: grey;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid grey;
  display:inline-block;
  cursor:pointer;
  color: white;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  }

  input[type=text] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
  }

  textarea {
    height: 200px;
    width: 500px;
  }